.custom-width {
    width: 900px;
}

.cv-content {
    word-wrap: break-word; 
    max-width: 100%;       
    overflow-x: auto;      
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: auto; 
  }
  